.img-container{
    img{
        max-width: 100%;
        height: auto;
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
        box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;

    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .full-form-container{
        margin-top: 5em;
        margin-bottom: 5em;
    }
}

