@import "./variables";

main{
    padding: 0 !important;
    #headerImg{
        width: 100%;
        margin: 0;
        div{
            padding: 0;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
    #intro{
        margin: 3rem;
        padding: 0 0.5rem;
        text-align: center;
    }
    .info-block{
        margin:1.5rem;
        .text-block{
            /*border: 1px solid $lg-border-color;*/
            display: flex;
            justify-content: center;
            flex-direction: column;
            filter: gray;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            transition: filter 1s ease;
            &:hover{
                -webkit-filter: grayscale(1);
                filter: none;
            }
        }
        .img-block{
            img{
                max-width: 100%;
                height: auto;
                filter: gray;
                -webkit-filter: grayscale(0.85);
                filter: grayscale(0.85);
                transition: filter 1s ease;
                &:hover{
                    -webkit-filter: grayscale(0);
                    filter: none;
                }
            }

        }
    }
}