.member-container{
    margin: 1.5rem;
    .member-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .right{
            display: flex;
            justify-content: end;
        }
    }
    .member-img{
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}