$lg-bg-color-1: rgb(233, 236, 239);
$lg-bg-color-2: rgb(199, 199, 199);
$lg-bg-color-3: rgb(155, 155, 155);
$lg-bg-color-secondary: rgb(33, 37, 41);
$lg-color-secondary: rgb(248, 249, 250);
$lg-color-secondary-hover: rgb(186,209,232);
$lg-border-color: rgb(108, 117, 125);

$dk-bg-color-1: rgb(32, 32, 32);
$dk-bg-color-2: rgb(30, 34, 38);
$dk-bg-color-3: rgb(14, 16, 18);
$dk-bg-color-secondary: rgb(219, 219, 219);
$dk-color-secondary: rgb(33, 37, 41);
$dk-color-secondary-hover: rgb(46,50,53);
$dk-border-color: rgb(220, 220, 220);